@charset "UTF-8";
/* -----------변수------------- */
/* color */
/* width */
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

section {
  padding: 3rem 4rem;
  margin: 0 auto;
  max-width: 1200px;
}

h2 {
  font-size: 3.2rem;
  color: #242222;
  margin-bottom: 4rem;
}

.highlight {
  position: relative;
  display: inline-block;
}
.highlight::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  height: 0.6rem;
  width: 6rem;
  background-color: #ffdc4f;
  margin-left: 0.5rem;
}

#menuBtn {
  font-size: 2.5rem;
  color: #242222;
  display: none;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: transparent;
}
.header.active {
  box-shadow: 0 0.5rem 0.8rem rgba(190, 190, 190, 0.3);
  background-color: white;
}
.header .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 10rem;
}
.header .flex .logo {
  font-size: 3rem;
  color: #242222;
}
.header .flex .nav a {
  font-size: 2.2rem;
  margin-left: 4rem;
  color: #242222;
  position: relative;
  display: inline-block;
}
.header .flex .nav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 50%;
  bottom: 25%;
  left: -10%;
  z-index: -1;
  background: #698ce3;
}
.header .flex .nav a:hover::after {
  width: 120%;
  transition: width 0.5s;
}

/* home */
.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: white;
}
.home .content {
  text-align: center;
  color: #242222;
  line-height: 7rem;
}
.home .content p {
  font-size: 2.7rem;
}
.home .content h3 {
  font-size: 5rem;
}
.home img {
  height: 45rem;
  border-radius: 40%;
}

/* about */
.about .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 35rem);
  align-items: flex-start;
  justify-content: center;
  gap: 6rem;
  color: #242222;
}
.about .container .img {
  position: relative;
  isolation: isolate;
  text-align: center;
}
.about .container .img::after {
  position: absolute;
  top: 6%;
  right: 10%;
  content: "";
  height: 95%;
  width: 65%;
  aspect-ratio: 1;
  border: 8px solid #ffb4b4;
  z-index: -1;
}
.about .container .img img {
  height: 35rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.about .container .content h2 {
  text-align: left;
}
.about .container .content h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: normal;
}
.about .container .content .content_box {
  line-height: 5rem;
}
.about .container .content .content_box p {
  font-size: 1.5rem;
}

.work {
  text-align: center;
}
.work .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 50rem);
  justify-content: center;
  grid-auto-rows: 1fr;
  align-items: stretch;
  gap: 2rem;
}
.work .container .box {
  background: #ededed;
  padding: 2rem 1rem;
  border-left: 5px solid #698ce3;
}
.work .container .box .content {
  font-size: 1.3rem;
  color: #242222;
  padding: 2rem 1rem;
  text-align: left;
  position: relative;
}
.work .container .box .content::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 50%;
  left: -4.2%;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #698ce3;
}

.skill {
  text-align: center;
}
.skill .sk_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 30rem);
  justify-content: center;
  grid-auto-rows: 1fr;
  align-items: stretch;
  gap: 2rem;
}
.skill .sk_container .box {
  background: #ededed;
  padding: 2rem 1rem;
  color: #242222;
  border-radius: 3rem;
}
.skill .sk_container .box img {
  width: 100%;
  height: 8rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 1rem;
}
.skill .sk_container .box span {
  font-size: 1.6rem;
  font-weight: bold;
  display: inline-block;
  padding-bottom: 1rem;
}
.skill .sk_container .box p {
  font-size: 1.3rem;
}

.portfolio {
  text-align: center;
}
.portfolio .mySwiper .swiper-slide {
  padding: 1rem 5rem;
}
.portfolio .mySwiper .swiper-slide .flex_box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 3rem;
}
.portfolio .mySwiper .swiper-slide .flex_box .content {
  text-align: left;
  flex: 1 1 30rem;
}
.portfolio .mySwiper .swiper-slide .flex_box .content span {
  color: #698ce3;
  font-size: 1.6rem;
}
.portfolio .mySwiper .swiper-slide .flex_box .content h3 {
  color: #242222;
  font-size: 5rem;
  margin-top: -1rem;
  margin-bottom: 1rem;
}
.portfolio .mySwiper .swiper-slide .flex_box .content p {
  color: #242222;
  font-size: 1.4rem;
  padding: 0.5rem 0;
  line-height: 1.8;
}
.portfolio .mySwiper .swiper-slide .flex_box .content .btn {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.6rem;
  color: white;
  background: #698ce3;
  cursor: pointer;
  padding: 1rem 4rem;
  border-radius: 3rem;
}
.portfolio .mySwiper .swiper-slide .flex_box .content .btn:hover {
  background: #ffdc4f;
  color: #698ce3;
}
.portfolio .mySwiper .swiper-slide .flex_box .image {
  flex: 1 1 40rem;
}
.portfolio .mySwiper .swiper-slide .flex_box .image img {
  width: 100%;
  height: 40rem;
}
.portfolio .mySwiper .swiper-pagination {
  background-color: #e8e8e8;
}

.footer {
  background: #242222;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 5rem;
}/*# sourceMappingURL=style.css.map */