/* -----------변수------------- */
/* color */
$mainColor : #ffdc4f;
$subColor: #698ce3;
$black : #242222;
$bnColor: #fed4ce;
/* width */
$maxwt-1 : 991px;
$maxwt-2 : 768px;
$maxwt-3 : 450px;


/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;

    @media (max-width:$maxwt-1) {
        font-size: 55%;
    }

    @media (max-width:$maxwt-2) {
        font-size: 50%;
    }

    scroll-behavior: smooth;
    overflow-x: hidden;
}

section {
    padding: 3rem 4rem;
    margin: 0 auto;
    max-width: 1200px;
}

h2 {
    font-size: 3.2rem;
    color: $black;
    margin-bottom: 4rem;
}

.highlight {
    position: relative;
    display: inline-block;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translateY(-50%);
        height: .6rem;
        width: 6rem;
        background-color: $mainColor;
        margin-left: 0.5rem; // 약간의 여백 조절
    }
}


#menuBtn {
    font-size: 2.5rem;
    color: $black;
    display: none;
}

/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: transparent;

    &.active {
        box-shadow: 0 .5rem .8rem rgba(196, 196, 196, 0.3);
    background-color: white;
    }

    .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 10rem;

        .logo {
            font-size: 3rem;
            color: $black;
        }

        .nav {
            a {
                font-size: 2.2rem;
                margin-left: 4rem;
                color: $black;
                position: relative;
                display: inline-block;

                &::after {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 50%;
                    bottom: 25%;
                    left: -10%;
                    z-index: -1;
                    background: $subColor;
                }

                &:hover::after {
                    width: 120%;
                    transition: width 0.5s;
                }
            }
        }
    }
}

/* home */
.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: white;

    .content {
        text-align: center;
        color: $black;
        line-height: 7rem;

        p {
            font-size: 2.7rem;
        }

        h3 {
            font-size: 5rem;
        }
    }

    img {
        height: 45rem;
        border-radius: 40%;
    }
}

/* about */
.about {

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, 35rem);
        align-items: flex-start;
        justify-content: center;
        gap: 6rem;
        color: $black;

        .img {
            position: relative;
            isolation: isolate;
            text-align: center;

            &::after {
                position: absolute;
                top: 6%;
                right: 10%;
                content: "";
                height: 95%;
                width: 65%;
                aspect-ratio: 1;
                border: 8px solid #ffb4b4;
                z-index: -1;
            }

            img {
                height: 35rem;
                object-fit: contain;
            }
        }

        .content {
            h2 {
                text-align: left;
            }

            h3 {
                font-size: 2rem;
                margin-bottom: 2rem;
                font-weight: normal;
            }

            .content_box {
                line-height: 5rem;

                p {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

.work {
    text-align: center;

    .container {

        display: grid;
        grid-template-columns: repeat(auto-fit, 50rem);
        justify-content: center;
        grid-auto-rows: 1fr;
        align-items: stretch;
        gap: 2rem;

        .box {
            background: #ededed;
            padding: 2rem 1rem;
            border-left: 5px solid $subColor;

            .content {
                font-size: 1.3rem;
                color: $black;
                padding: 2rem 1rem;
                text-align: left;
                position: relative;

                &::before {
                    content: "";
                    width: 1.5rem;
                    height: 1.5rem;
                    position: absolute;
                    top: 50%;
                    left: -4.2%;
                    transform: translateY(-50%);
                    border-radius: 50%;
                    background: $subColor;
                }
            }

        }
    }
}

.skill {
    text-align: center;

    .sk_container {
        display: grid;
        grid-template-columns: repeat(auto-fit, 30rem);
        justify-content: center;
        grid-auto-rows: 1fr;
        align-items: stretch;
        gap: 2rem;

        .box {
            background: #ededed;
            padding: 2rem 1rem;
            color: $black;
            border-radius: 3rem;

            img {
                width: 100%;
                height: 8rem;
                object-fit: contain;
                margin-bottom: 1rem;

            }

            span {
                font-size: 1.6rem;
                font-weight: bold;
                display: inline-block;
                padding-bottom: 1rem;
            }

            p {
                font-size: 1.3rem;

            }
        }
    }
}


.portfolio {
    text-align: center;

    .mySwiper {
        .swiper-slide {
            padding: 1rem 5rem;

            .flex_box {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 2rem;
                margin-bottom: 3rem;

                .content {
                    text-align: left;
                    flex: 1 1 30rem;

                    span {

                        color: $subColor;
                        font-size: 1.6rem;
                    }

                    h3 {
                        color: $black;
                        font-size: 5rem;
                        margin-top: -1rem;
                        margin-bottom: 1rem;
                    }

                    p {
                        color: $black;
                        font-size: 1.4rem;
                        padding: .5rem 0;
                        line-height: 1.8;
                    }

                    .btn {
                        margin-top: 1rem;
                        display: inline-block;
                        font-size: 1.6rem;
                        color: white;
                        background: $subColor;
                        cursor: pointer;
                        padding: 1rem 4rem;
                        border-radius: 3rem;

                        &:hover {
                            background: $mainColor;
                            color: $subColor;
                        }
                    }
                }

                .image {
                    flex: 1 1 40rem;

                    img {
                        width: 100%;
                        height: 40rem;
                    }
                }
            }
        }

        .swiper-pagination {
            background-color: #e8e8e8;
        }
    }
}



.footer {
    background: #242222;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 5rem;
}