/* media */
@media screen and (min-width:768px) and (max-width:1023px){ /* Tablet */
    html{
        font-size: 85%;
    }
    #menu-btn{
        display: inline-block;
    } 
    .nav{
        display: none;
    }
}

@media screen and (max-width:767px) {

    html{
        font-size: 87%;
    }
    #menu-btn{
        display: inline-block;
    } 
    .nav{
        display: none;
    }
    .banner .flex .banner_img img{
        display: none;
    }

    .research-container{
        height:25rem;
        gap:4rem;
    }

    .fixbg{
        margin-top: 10rem;
    }
    .fixbg p{
        font-size: 1.3rem;
    }

    .select{
        height:70%;
    }

    .select-container img{
        height:15rem;
    }

}

@media (max-width:480px) { /* mobile */
    html{
        font-size: 85%;
    }

    .banner .flex .banner_txt{
    width:30%;
    }

    .fixbg{
        width:100%;
        background-image:url('../img/fix_img.png');
        background-size: 100% 100%;
        background-attachment: fixed;
        background-repeat: no-repeat;
        height:20rem;
    }

}